body{
    font-family: Tahoma;
    direction: rtl;
    overflow-x:hidden ;/*baraye inke scroll ofoghi nakhorad*/
}
h5{
    position: center;
    direction: rtl;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
h3{
    position: relative;
    left: -30px;
    padding: 5px;
    margin-bottom:10px ;
    margin-top: 30px;
}
a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:focus {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    text-decoration: none;
    color: white;
}
#header{
    background-color: #0e3c75;
}
#container{
    position: relative;
    height: 120px;
}
#sign_ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#icon{
    float: left;
    position: relative;
}
#menu{
    background-color: #0e3c75;
}
.menu_ul{
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu_li{
    float: right;
    text-align: center;
    display: block;
    padding: 14px;
    margin: 5px;
    color: white;
    border-radius: 5px;
}
.menu_li:hover {
    background-color: #4175b5;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0e3c75;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #4175b5;
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.sign_li{
    display: block;
    text-align: center;
    padding: 9px 9px;
    text-decoration: none;
    float: right;
}
.button_sign:hover {
    background-color:#4175b5 ;
}
.button_sign{
    background-color: #0e3c75;
    padding: 2px;
    margin: 1px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    width:140px;
    height: 50px;
    direction: rtl;
    font-size: 15px;
    text-align: center;
}
.div_signup_form{
    font-size: smaller;
    padding: 5px;
    margin: 10px;
}
.ul_signup{
    overflow: hidden;
    list-style-type: none;
}
.li_signup{
    padding: 3px;
}
.input_signup{
    display: block;
    position: relative;
    left: -35px;
    width: 200px;
    height: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding:3px;
    margin:5px;
}
.select_signup{
    display: block;
    position: relative;
    left: -35px;
    width: 200px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding:3px;
    margin:5px;
}
.submit_button{
    width: 200px;
    height:40px;
    position: relative;
    left: -40px;
    background-color: #0e3c75;
    color: white;
    border: 1px solid #0e3c75;
    border-radius: 5px;
    font-size: larger;
}
.submit_button:hover{
    background-color: #4175b5;
}
.footer{
    height: 350px;
    color: white;
    background-color: #0e3c75;
}
.footer_ul{
    display: block;
}
.footer_li{
    font-size: small;
    padding: 2px;
    margin: 5px;
}
.footer_li a:link{
    color: white;
    text-decoration: none;
}
.footer_li a:visited{
    color: white;
    text-decoration: underline;
}
.footer_li a:hover{
    background-color: #4175b5;
    border: 2px solid #4175b5;
    border-radius: 5px;
}
.footer_center{
    position: relative;
    left: -200px;
    top: -260px;
}
.footer_left{
    font-size: small;
    position: relative;
    top:-550px;
    left:-900px;
}